<div class="page-title" style="background-image:url('<%= asset_path('theme/images/hero-header/breadcrumb.jpg') %>');">
  <div class="container">
    <div class="row">
      <div class="col-sm-10 col-sm-offset-1 col-md-6 col-md-offset-3">
        <h1 class="hero-title">ตรวจสอบบริษัททัวร์</h1>
      </div>
    </div>
  </div>
</div>
<div class="content-wrapper">        
  <div class="container">
    <div class="row">
      <div class="col-sm-11 col-md-12">

        <div class="confirmation-wrapper">
          <div class="confirmation-content">
            <div class="section-title text-left">
              <h4>ข้อมูลทั่วไป</h4>
            </div>
            <ul class="book-sum-list">
              <li><span class="font600">สถานะ: </span><%= @register.status.humanize %></li>
              <li><span class="font600">ชื่อผู้ติดต่อหลัก: </span><%= @register.contact_name %></li>
              <li><span class="font600">ตำแหน่ง: </span><%= @register.role_contact.humanize %></li>
              <li><span class="font600">อีเมล: </span><%= @register.email %></li>
              <li><span class="font600">ชื่อบริษัทภาษาอังกฤษ: </span> <%= @register.company_name_en %></li>
            </ul>
          </div>
          <div class="confirmation-content">
            <div class="section-title text-left">
              <h4>รายละเอียดเพิ่มเติม</h4>
            </div>
            <ul class="book-sum-list">
              <li>
                <span class="font600">ชื่อบริษัทภาษาไทย: </span> 
                <%= @register.company_name_local %>
              </li>
              <li>
                <span class="font600">ประเภท: </span> 
                <%= @register.business_type.name %>
              </li>
              <li>
                <span class="font600">เบอร์โทรศัพท์หลัก: </span>
                <%=  @register.main_phone_no.present? ? @register.main_phone_no : raw('&nbsp;')  %>
              </li>
              <li>
                <span class="font600">เว็บไซต์บริษัททัวร์: </span> 
                <%= link_to 'ลิงค์', @register.company_website.present? ? @register.company_website : '#' %>
              </li>
              <li>
                <span class="font600">หมายเลขอนุญาต: </span> 
                <%= @register.license_number.present? ? @register.license_number : raw('&nbsp;') %>
              </li>
              <li>
                <span class="font600">เอกสารใบอนุญาต: </span> 
                <%= link_to 'ลิงค์', @register.license_attachment_url.present? ? @register.license_attachment_url : raw('#'), target: '_blank' %>
              </li>
            </ul>
          </div>
          <%= link_to 'อนุมัติ', admin_screen_operator_approve_path(@register), class: 'btn btn-info', 'data-no-turbolink': true  %>
          <%= link_to 'ไม่อนุมัติ', admin_screen_operator_disapprove_path(@register), class: 'btn btn-primary', 'data-no-turbolink': true  %>
          <div style="margin-bottom: 50px;"></div>
        </div>
      </div>
    </div>
  </div>
</div>