<!DOCTYPE html>
<html>
<head>
  <title>TourMove</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="TourMove" />
  <meta name="keywords" content="tour package, holiday, hotel, vocation, booking, trip, travel, tourism, tourist" />
  <meta name="author" content="tourmove">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href='https://fonts.googleapis.com/css?family=Lato:400,400italic,700,700italic,300italic,300' rel='stylesheet' 
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,400italic,300italic,300,600,600italic,700,700italic' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag   'theme/css/style', media: 'all', 'data-turbolinks-track' => true %>
  <%= growlyflash_static_notices %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id="introLoader" class="introLoading"></div>
  <!-- start Container Wrapper -->
  <div class="container-wrapper">
    <%= render 'layouts/admin/header'  %>
    <div class="main-wrapper">
      <%= yield %>
      <div class="overflow-hidden">
        <div class="instagram-wrapper">
          <div id="instagram" class="instagram"></div>
        </div>
      </div>
    </div>
    <!-- end Main Wrapper -->
  </div>  
  <!-- end Container Wrapper -->
  <!-- start Back To Top -->
  <div id="back-to-top">
     <a href="#"><i class="fa fa-angle-up"></i></a>
  </div>
  <!-- end Back To Top -->
  <%= javascript_include_tag 'admin/application', 'data-turbolinks-track' => true %>
  <%= yield :js_footer  %>
</body>
</html>
